# Mapbox (portfolio map). Create a token at https://account.mapbox.com/access-tokens/
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiZGFtaWVubm1yayIsImEiOiJjbW5qZW9oZnEwbjFiMndwcm9zeWpjd2duIn0.JamqvIhCGdeBUn3oSngjyA
